<% provide :head_tags do %>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%=@search.latitude%>, <%=@search.longitude%>)
    });
    </script>
<% end %>

<!DOCTYPE html>
<head>
</head>
    <style>
        #map{
            height: 800px;
            width: 800px;
        }
    </style>
<body>
  <h2>Customer Information</h2>
  <div id="map"></div>
    
  
  <div>
    <strong><a href="/">New Search</a></strong>
  </div>
  <div>
    <strong><a href="/customer_searches">Search Index</a></strong>
  </div>
  <div>
    
  </div>
<body>
</html>
