<!DOCTYPE html>
<head>
</head>

<body>
    <h3>Malauzai Code Challenge</h3>
    <% @searches.each do | search |%>
        <a href="/searches/<%= search.id %>"><%= search.name %><a><br>
    <% end %>
    <a href="/">New Search</a>
</body>
</html>